In [2]:
from parser_test import *

df = pd.DataFrame(get_news(get_pages()))

CYCLE 1
https://en.uitm.edu.eu/news/page/1/?wpv_view_count=505
CYCLE 2
https://en.uitm.edu.eu/news/page/2/?wpv_view_count=505
CYCLE 3
https://en.uitm.edu.eu/news/page/3/?wpv_view_count=505
CYCLE 4
https://en.uitm.edu.eu/news/page/4/?wpv_view_count=505
CYCLE 5
https://en.uitm.edu.eu/news/page/5/?wpv_view_count=505
CYCLE 6
https://en.uitm.edu.eu/news/page/6/?wpv_view_count=505
CYCLE 7
https://en.uitm.edu.eu/news/page/7/?wpv_view_count=505
CYCLE 8
https://en.uitm.edu.eu/news/page/8/?wpv_view_count=505
CYCLE 9
https://en.uitm.edu.eu/news/page/9/?wpv_view_count=505
CYCLE 10
https://en.uitm.edu.eu/news/page/10/?wpv_view_count=505
Skipped because of 'NoneType' object has no attribute 'getText'
CYCLE 11
https://en.uitm.edu.eu/news/page/11/?wpv_view_count=505
CYCLE 12
https://en.uitm.edu.eu/news/page/12/?wpv_view_count=505
CYCLE 13
https://en.uitm.edu.eu/news/page/13/?wpv_view_count=505
CYCLE 14
https://en.uitm.edu.eu/news/page/14/?wpv_view_count=505
CYCLE 15
https://en.uitm.edu.eu/news/page/15/?wpv_view_count=505
CYCLE 16
https://en.uitm.edu.eu/news/page/16/?wpv_view_count=505
CYCLE 17
https://en.uitm.edu.eu/news/page/17/?wpv_view_count=505
CYCLE 18
https://en.uitm.edu.eu/news/page/18/?wpv_view_count=505
CYCLE 19
https://en.uitm.edu.eu/news/page/19/?wpv_view_count=505
CYCLE 20
https://en.uitm.edu.eu/news/page/20/?wpv_view_count=505

In [8]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df

,date,title,text
0,2023-04-21,Tour de UITM – Cycling to health on the Green ...,First edition of Tour de UITM! University of I...
1,2023-04-06,UITM’s Easter Extravaganza: Celebrating with F...,"Traditional Polish dishes, e.g. sour rye soup,..."
2,2023-03-31,Melting the Pot Festival Day 2: Student Talk S...,Four International Students Share Their Experi...
3,2023-03-31,The Melting Pot Festival kicks off at IQ Club,International students compete in the “What? W...
4,2023-03-27,"Central Asia Day: Celebrating Culture, History...",International Student Support Office organized...
...,...,...,...
225,2018-06-08,UITM Ranked High in Prestigious „Perspektywy” ...,The latest Ranking of Non-Public Master Degree...
226,2018-05-24,UITM in Elite Group of Universities with UN Ce...,The University of Information Technology and M...
227,2018-05-24,UITM Students among scholarship holders of the...,The scholarships of the Minister of Science an...
228,2018-05-24,Millions for internships. Don’t miss this uniq...,Are you sure that your studies will prepare yo...
229,2018-05-24,UITM Receives University of Leaders 2017 Natio...,The University of Information Technology and M...

In [12]:
df.describe(include='all')

,date,title,text
count,230,230,230
unique,NaN,224,229
top,NaN,Financial Internet Quarterly – the latest issu...,The Editorial Board of Financial Internet Quar...
freq,NaN,4,2
mean,2020-10-12 01:08:52.173913088,NaN,NaN
min,2018-05-24 00:00:00,NaN,NaN
25%,2019-09-30 12:00:00,NaN,NaN
50%,2020-07-03 00:00:00,NaN,NaN
75%,2021-12-08 18:00:00,NaN,NaN
max,2023-04-21 00:00:00,NaN,NaN

In [13]:
df.dtypes

date     datetime64[ns]
title            object
text             object
dtype: object